# D2001 Assignment: 
 - Shirley Zhou: 480441397 , Jonathan Then, Winston Foo

## Task 1: Load and integrate provided datasets by Fri, Wk 11

In [1]:
from __future__ import (absolute_import, division, print_function)
import os
import json

import matplotlib as mpl
import matplotlib.pyplot as plt

from shapely.geometry import Point
import pandas as pd
import geopandas as gpd
from geopandas import GeoSeries, GeoDataFrame

data_path = "./data"

import geopandas as gpd
import pandas as pd

In [2]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'szho4971'
    YOUR_PW     = '480441397'
    DB_LOGIN    = 'y20s1d2x01_'+'szho4971'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

# checking connection (run once)
db,conn = pgconnect()

connected

In [ ]:
import psycopg2
import psycopg2.extras

def pgconnect(credential_filepath):
    try:
        with open(credential_filepath) as f:
            db_conn_dict = json.load(f)
        conn = psycopg2.connect(**db_conn_dict)
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
        return None
    return conn

# please update the details in data2x01_db.json
credfilepath = os.path.join(data_path, "data2x01_db.json")
conn = pgconnect(credfilepath)

In [ ]:
def pgquery( conn, sqlcmd, args=None, msg=False, returntype='tuple'):
    """ utility function to execute some SQL query statement
        it can take optional arguments (as a dictionary) to fill in for placeholders in the SQL
        will return the complete query result as return value - or in case of error: None
        error and transaction handling built-in (by using the 'with' clauses)"""
    retval = None
    with conn:
        cursortype = None if returntype != 'dict' else psycopg2.extras.RealDictCursor
        with conn.cursor(cursor_factory=cursortype) as cur:
            try:
                if args is None:
                    cur.execute(sqlcmd)
                else:
                    cur.execute(sqlcmd, args)
                if (cur.description != None ):
                    retval = cur.fetchall() # we use fetchall() as we expect only _small_ query results
                if msg != False:
                    print("success: " + msg)
            except psycopg2.DatabaseError as e:
                if e.pgcode != None:
                    if msg: print("db read error: "+msg)
                    print(e)
            except Exception as e:
                print(e)
    return retval

Importing the .csv data bases
 - neighbourhoods.csv, statisticalareas.csv, populationstats.csv, nsw_postcodes.csv, healthservices.csv, covid19_nsw_testsites_simulated_capacity.csv

In [5]:
#importing databases
neighbourhoods = pd.read_csv('Neighbourhoods.csv')
stat = pd.read_csv('StatisticalAreas.csv')
pop = pd.read_csv('PopulationStats2016.csv')
nsw_post = pd.read_csv('NSW_Postcodes.csv')
services = pd.read_csv('HealthServices.csv')
test_capacity = pd.read_csv('covid19_nsw_testsites_simulated_capacity.csv')

Creating tables in PostgreSQL

In [6]:
table_name = "neighbourhoods"
neighbourhoods.to_sql(table_name, con=conn, if_exists='replace')

table_name = "stat_area"
stat.to_sql(table_name, con=conn, if_exists='replace')

table_name = "nsw_post"
nsw_post.to_sql(table_name, con=conn, if_exists='replace')

table_name = "services"
services.to_sql(table_name, con=conn, if_exists='replace')

table_name = "test_capacity"
test_capacity.to_sql(table_name, con=conn, if_exists='replace')

In [15]:
query = """select count(*) from neighbourhoods"""
result = pgquery(conn, query, returntype = 'dict')
print(result)
neighbourhoods.head()

[RealDictRow([('count', 312)])]

,area_id,area_name,land_area,population,number_of_dwellings,number_of_businesses
0,102011028,Avoca Beach - Copacabana,643.8,7590.0,2325,738.0
1,102011029,Box Head - MacMasters Beach,3208.6,10986.0,3847,907.0
2,102011030,Calga - Kulnura,76795.1,4841.0,1575,1102.0
3,102011031,Erina - Green Point,3379.3,14237.0,4450,1666.0
4,102011032,Gosford - Springfield,1691.2,19385.0,6373,2126.0

Looking at SA2 files:

In [16]:
#reading gdp files
sa2 = gpd.read_file( os.path.join(data_path, "SA2_2016_AUST.shp") )

In [17]:
sa2.head()

,SA2_MAIN16,SA2_5DIG16,SA2_NAME16,SA3_CODE16,SA3_NAME16,SA4_CODE16,SA4_NAME16,GCC_CODE16,GCC_NAME16,STE_CODE16,STE_NAME16,AREASQKM16,geometry
0,101021007,11007,Braidwood,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3418.3525,"POLYGON ((149.58423 -35.44427, 149.58444 -35.4..."
1,101021008,11008,Karabar,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,6.9825,"POLYGON ((149.21898 -35.36739, 149.21799 -35.3..."
2,101021009,11009,Queanbeyan,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,4.7634,"POLYGON ((149.21325 -35.34325, 149.21619 -35.3..."
3,101021010,11010,Queanbeyan - East,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,13.0034,"POLYGON ((149.24033 -35.34782, 149.24023 -35.3..."
4,101021011,11011,Queanbeyan Region,10102,Queanbeyan,101,Capital Region,1RNSW,Rest of NSW,1,New South Wales,3054.4099,"POLYGON ((149.23580 -35.38738, 149.23771 -35.3..."

In [18]:
#creating table schema for australia (SA2 data)
world_schema = '''CREATE TABLE World (
                     SA2_MAIN16 NUMERIC, 
                     SA2_5DIG16 NUMERIC, 
                     SA2_NAME16 VARCHAR(80), 
                     SA3_CODE16 NUMERIC, 
                     SA3_NAME16 VARCHAR(80),
                     SA4_CODE16 NUMERIC,
                     SA4_NAME16 VARCHAR(80),
                     GCC_CODE16 VARCHAR(80),
                     GCC_NAME16 VARCHAR(80),
                     STE_CODE16 NUMERIC,
                     STE_NAME16 VARCHAR(80),
                     AREASQKM16 NUMERIC,
                     geom GEOMETRY(MULTIPOLYGON,4283))''' 

pgquery(conn, "DROP TABLE IF EXISTS World", msg="cleared old table")
pgquery(conn, world_schema, msg="created World table")

success: cleared old table
success: created World table

In [ ]:
### unsure about geom wkt - what is it? where does it come from? what deos it do??

insert_stmt = """INSERT INTO World VALUES ( %(SA2_MAIN16)s, %(SA2_5DIG16)s, %(SA2_NAME16)s, %(SA3_CODE16)s, %(SA3_NAME16)s,
%(SA4_CODE16)s,%(SA4_NAME16)s,%(GCC_CODE16)s,%(GCC_NAME16)s,%(STE_CODE16)s,%(STE_NAME16)s,%(AREASQKM16)s,
                                            ST_Multi(ST_GeomFromText(%(geom_wkt)s, 4326)) )"""

# create a new column called 'geom_wkt' with the "Well Known Text-Format (WKT)" of each geometry; used by SQL insert
sa2['geom_wkt'] = sa2['geometry'].apply(lambda x: x.wkt)

# insert all countries using above's SQL Insert statement into the database
for idx, country in countries.iterrows():
    pgquery(conn, insert_stmt, args=sa2, msg="inserted "+str(sa2['name']))

In [15]:
def josephus(n, k): 
    if (n == 1): 
        return 1
    else:
        print(n, " is killed")
        return (josephus(n - 1, k) + k-1) % n + 1
  
# Driver Program to test above function 
  
n = 14
k = 2
  
print("The chosen place is ", josephus(n, k))

14  is killed
13  is killed
12  is killed
11  is killed
10  is killed
9  is killed
8  is killed
7  is killed
6  is killed
5  is killed
4  is killed
3  is killed
2  is killed
The chosen place is  13