In [8]:
import pandas as pd
weather = pd.read_csv('weather_observations.csv')
weather

        obsdate      city  air_temp  wind_speed wind_direction
0     2017-01-1  Adelaide      21.1          33             SW
1     2017-01-2  Adelaide      24.7          28            SSE
2     2017-01-3  Adelaide      26.9          19            SSE
3     2017-01-4  Adelaide      33.3          24             SE
4     2017-01-5  Adelaide      35.1          13              E
..          ...       ...       ...         ...            ...
955  2017-04-26    Sydney      18.1          41            WSW
956  2017-04-27    Sydney      18.5          24              S
957  2017-04-28    Sydney      20.1          13              S
958  2017-04-29    Sydney      21.2          13            ESE
959  2017-04-30    Sydney      20.5          13             SE

[960 rows x 5 columns]

In [9]:
from sqlalchemy import create_engine
import psycopg2
import psycopg2.extras

def pgconnect():
    # please replace <your_unikey> and <your_SID> with your own details
    YOUR_UNIKEY = 'jthe7776'
    YOUR_PW     = '490605077'
    DB_LOGIN    = 'y20s1d2x01_'+'jthe7776'

    try:
        db = create_engine('postgres+psycopg2://'+DB_LOGIN+':'+YOUR_PW+'@soitpw11d59.shared.sydney.edu.au/'+DB_LOGIN, echo=False)
        conn = db.connect()
        print('connected')
    except Exception as e:
        print("unable to connect to the database")
        print(e)
    return db,conn

In [10]:
# 1st: login to database
db,conn = pgconnect()

connected

In [63]:
# Verify that there are no existing tables
print(db.table_names())

['spatial_ref_sys', 'weather2']

In [64]:


# 2nd: ensure that the schema is in place
organisation_schema = """CREATE TABLE IF NOT EXISTS Weather (
                         obsdate         DATE,
                         city            TEXT,
                         air_temp        FLOAT,
                         wind_speed      INT,
                         wind_direction  VARCHAR(3)
                   )"""
conn.execute(organisation_schema)

# Verify that there are no existing tables
print(db.table_names())

['spatial_ref_sys', 'weather2', 'weather']

In [39]:
def pgquery( conn, sqlcmd, args=None, silent=False ):
    """ utility function to execute some SQL query statement
    can take optional arguments to fill in (dictionary)
    will print out on screen the result set of the query
    error and transaction handling built-in """
    retdf = pd.DataFrame()
    retval = False
    try:
        if args is None:
            retdf = pd.read_sql_query(sqlcmd,conn)
        else:
            retdf = pd.read_sql_query(sqlcmd,conn,params=args)
        if silent == False:
            print(retdf.shape)
            print(retdf.to_string())
        retval = True
    except Exception as e:
        if silent == False:
            print("db read error: ")
            print(e)
    return retval,retdf

In [62]:
query = """DROP TABLE Weather"""
retstatus,retdf = pgquery (conn, query)

db read error:
This result object does not return rows. It has been closed automatically.

In [65]:
# 3nd: load data using pandas
import pandas as pd
organisations_data = pd.read_csv('weather_observations.csv')

table_name = "weather"
organisations_data.to_sql(table_name, con=conn, if_exists='replace')

ValueError: Table 'weather' already exists.

In [37]:
# No permission
query = """COPY Weather
             FROM 'weather_observations.csv' with HEADER"""

res = pd.read_sql_query(query, conn)

ProgrammingError: (psycopg2.errors.InsufficientPrivilege) must be superuser or a member of the pg_read_server_files role to COPY from a file
HINT:  Anyone can COPY to stdout or from stdin. psql's \copy command also works for anyone.

[SQL: COPY Weather
             FROM 'weather_observations.csv' with HEADER]
(Background on this error at: http://sqlalche.me/e/f405)

In [38]:
res = pd.read_sql_query('SELECT COUNT(*) FROM Weather', conn)
res

   count
0    960

In [41]:
query = """SELECT COUNT(*)
            FROM Weather
            WHERE city = 'Sydney';"""

retstatus,retdf = pgquery (conn, query)

(1, 1)
   count
0    120

In [21]:
query = """SELECT MIN(air_temp), MAX(air_temp)
            FROM Weather
            WHERE city = 'Perth';"""

res = pd.read_sql_query(query, conn)
res

    min   max
0  16.9  41.5

In [42]:
query = """SELECT AVG(air_temp)
            FROM Weather
            WHERE city = 'Melbourne'
            AND obsdate >= '2017-03-01' AND obsdate < '2017-04-01';"""

retstatus,retdf = pgquery (conn, query)

(1, 1)
         avg
0  25.006452

In [61]:
query = """SELECT EXTRACT(month FROM obsdate) AS "month", AVG(air_temp)
        FROM Weather
        GROUP BY "month"
        """

retstatus,retdf = pgquery (conn, query)

db read error:
(psycopg2.errors.UndefinedFunction) function pg_catalog.date_part(unknown, text) does not exist
LINE 1: SELECT EXTRACT(month FROM obsdate) AS "month", AVG(air_temp)
               ^
HINT:  No function matches the given name and argument types. You might need to add explicit type casts.

[SQL: SELECT EXTRACT(month FROM obsdate) AS "month", AVG(air_temp)
        FROM Weather
        GROUP BY "month"
        ]
(Background on this error at: http://sqlalche.me/e/f405)

In [31]:
query = """SELECT obsdate FROM Weather
            WHERE city = 'Hobart'
            AND wind_direction = 'S'
            AND air_temp < 20; """

res = pd.read_sql_query(query, conn)
res

      obsdate
0   2017-02-6
1  2017-02-20
2  2017-03-20
3   2017-04-2
4   2017-04-9

In [27]:
weather2 = """CREATE TABLE Weather2 (
                         obsdate         DATE[],
                         city            TEXT,
                         air_temp        FLOAT[],
                         wind_speed      INT[],
                         wind_direction  VARCHAR(3)[]
                   )"""
conn.execute(weather2)

In [32]:
query = """INSERT INTO Weather2
            SELECT
            city,
            array_agg(obsdate ORDER BY obsdate),
            array_agg(air_temp ORDER BY obsdate),
            array_agg(wind_speed ORDER BY obsdate),
            array_agg(wind_direction ORDER BY obsdate)
            FROM Weather
            GROUP BY city;"""

res = pd.read_sql_query(query, conn)
res

ProgrammingError: (psycopg2.errors.DatatypeMismatch) column "obsdate" is of type date[] but expression is of type text[]
LINE 3:             array_agg(obsdate ORDER BY obsdate),
                    ^
HINT:  You will need to rewrite or cast the expression.

[SQL: INSERT INTO Weather2
            SELECT
            array_agg(obsdate ORDER BY obsdate),
            array_agg(air_temp ORDER BY obsdate),
            array_agg(wind_speed ORDER BY obsdate),
            array_agg(wind_direction ORDER BY obsdate)
            FROM Weather
            GROUP BY city;]
(Background on this error at: http://sqlalche.me/e/f405)

In [ ]:
SELECT CARDINALITY(air_temp)
FROM Weather2 WHERE city = 'Sydney';

In [ ]:
SELECT MIN(air_temp), MAX(air_temp)
FROM (
        SELECT UNNEST(air_temp) AS "temp"
        FROM Weather2
        WHERE city = 'Perth'
) AS Temps;

In [ ]:
SELECT AVG(air_temp)
FROM (
        SELECT UNNEST(air_temp) AS "temp", UNNEST 
        FROM Weather2
        WHERE city = 'Perth'
) AS Temps;

In [ ]:
SELECT t, obsdate[t]
FROM (
    


)

In [ ]:
#conn.close()
#db.dispose()